*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-accent: #16DB99;
    --color-muted: #8B8B8B;
    --color-light: #fff;
    --color-dark: #000;
    --color-border: #D2D2D2;
    --color-item-button-border: #DEDEDE;
    --color-item-button-add: #3C3C3C;
    --color-item-button-remove: #BBBBBB;
    --color-text-total-price: #0E0E0E;
    --color-card-details: #757575;
    --color-success: #065F46;
    --color-success-background: #ECFDF5;
    --color-body-background: #F5F5F5
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', system-ui;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--color-body-background);
}

.container {
    max-width: 600px;
    height: 800px;
    margin: 100px auto;
    background-color: var(--color-light);
}

.header {
    width: 100%;
    height: 167px;
    color: var(--color-light);
    background-image: url('./assets/header-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.header h1,
.header h2 {
    margin-left: 46px;
    text-shadow: 0 0 10px var(--color-dark);
}

.header h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
}

.header h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
}

/* Menu */
.menu {
    margin-top: 20px;
    padding: 0 46px;
}

.menu .menu-list {
    list-style: none;
}

.menu .menu-list .menu-item {
    /* display: flex;
    justify-content: start;
    align-items: start; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* gap: 20px; */
    padding: 50px 0;
    border-bottom: 1px solid var(--color-border);
}

.menu .menu-list .menu-item .menu-item-emoji {
    font-size: 4.5rem;
}

.menu .menu-list .menu-item .menu-item-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.menu .menu-list .menu-item .menu-item-details h2 {
    font-size: 24px;
    font-weight: 400;
}

.menu .menu-list .menu-item .menu-item-details .menu-item-ingredients {
    font-size: 16px;
    color: var(--color-card-details);
}

.menu .menu-list .menu-item .menu-item-details .menu-item-price {
    font-size: 20px;
}

.menu .menu-list .menu-item .add-button-div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu .menu-list .menu-item .menu-item-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-light);
    border: 1px solid var(--color-item-button-border);
    border-radius: 50%;
    color: var(--color-item-button-add);
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
}